@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Shadows+Into+Light&display=swap');

:root {
  --primary-color: #291600;
  --secondary-color: #fce3b0;
  --accent1-color: #B8CCA3;
  --accent2-color: black;
  --heading-font: 'Shadows Into Light', cursive;
  --paragraph-font: 'Raleway', sans-serif;
}

html {
  background-color: var(--primary-color)
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em
}

img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color:  #719150;
}



header {
  padding: 1em;
  text-align: center;
  color: var(--accent2-color);
  background-color: #B8CCA3;
}

header>h1 {
  color: #000000;
}

p {
  font-family: var(--paragraph-font);
  color: #291600;
  padding: 1em
}

.colored {
  color: #B8CCA3;
  font-weight: bold;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center
}

.colors th {
  background-color: #999
}

.colors td {
  width: 25%;
  height: 3em
}

.primary {
  background-color: var(--primary-color)
}

td.primary,
td.accent2 {
  color: #ffffff;
}

.secondary {
  background-color: var(--secondary-color)
}

.accent1 {
  background-color: var(--accent1-color)
}

.accent2 {
  background-color: var(--accent2-color)
}

nav {
  background-color:var(--accent1-color) ;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em
}

nav>ul {
  list-style-type: none;
  display: flex
}

nav a {
  padding: 1em;
  min-width: 70px
}

nav a:link,
nav a:visited {
  color:
}

nav a:hover {
  color: ;
  background-color:
}

footer {
  background: #B8CCA3;
  text-align: center;
}