@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

html {
  background-color:#00bfbf;
}

header, footer {
  color: #4C5198;
  background-color:  #FF9F1C;
}
header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}
body {
  color: #4C5198;
  background-color: #ffffff;

}
li {
  display: inline;
}

.home, .family-history {
  color: #ffffff;
  background-color: #00BFBF;
}

.wedding {
  background-color: #FF9F1C ;
}

a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}