@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');


header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}

html {
  background-color: #ff9f1c;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #7a4500;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
}

header {
  background-color: #00bfbf;
  color:#ffffff;
  padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:space-around;
}

 nav {
   line-height: 4em;
   text-align: center;
 }

nav ul {
  display: flex;
}
  
  
nav ul li {
  flex: 1 1 auto; /* children work together*/
  padding: 10px;
  margin: 2px;
}

 p {
   font-family: 'Open Sans', Helvetica, sans-serif;
}

footer {
  background-color: #00bfbf;
  color:#ffffff;



header img {
  width: 80px;
  height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

header nav ul {
  display: flex;
}



h1 {
  color: #ffffff;
} 

h2, h3, h4, h5, h6 {
  color: #00bfbf;
}

li {
  display: inline;
}


.contact {
  color:white;
}


a:link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}