@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Shadows+Into+Light&display=swap');


header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}

header, footer {
  border: 1px solid #291600;
  border-radius: 10px;
}

body {
  background-color: #ffffff;
}

h1, h3, h4, h6 {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

h2, h5, p, li {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: lighter;
}

li {
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 95px;
  color: #719150;
  margin: 10px 0 -8px 0;
  text-shadow: 1px 1px #666666;
}

h2 {
  font-size: 64px;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 0 10px 0;
}

h3 {
  font-size: 60px;
  margin: 5px 0 0 0;
  padding: 0;
  color: #719150;
}

h4 {
  font-size: 48px;
  margin: 0 auto;
}

.container3 h4 {
  color: #291600;
  padding: 0;
}

.container4 h4 {
  color: #291600;
  padding-bottom: 30px;
  margin: 0 auto;
}

h5 {
  background: #719150;
  color: #ffffff;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  padding: 8px;
  margin: 3px 0 0 0;
  border: 1px solid #291600;
  border-radius: 10px;
}


/*header*/
header {
 
  background: #719150;
}

.logo {
  padding-top: 10px;
  padding-left: 10px;
  float: left;
}

nav {
  max-width: 800px;
}

nav ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: bold;
  /*text-shadow: 1px 1px #291600;*/
  text-align: center;
  margin: 10px 0;
  background-color: transparent;
  text-decoration: none;
}

header nav ul a:hover {
  color: #719150;
  background: white;
  font-size: 30px;
}

/*main Home*/



.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 20px 0;
}

.time,
.idea,
.delivery {
  width: 300px;
  border: 4px solid transparent;
  background-color: #ffffff;
}

.time {
  grid-column: 1;
  grid-row: 1;
}

.idea {
  grid-column: 2/3;
  grid-row: 1;
}

.delivery {
  grid-column: 3/4;
  grid-row: 1;
}

article img {
  max-width: 100%;
}


article ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

article ul li {
  font-size: 20px;
  text-align: center;
}

.wait {
  padding: 15px 0;
}

main {
  padding-bottom: 5px;
}

/*main Food*/

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;

  align-content: space-around;
  padding: 10px 0;
  border: 8px solid transparent;
  margin: 20px 0;
}

.round {
  border-radius: 50%;
  max-height: 180px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.container2 article {
  margin: 0 5px;
}

.container2 article ul {
  padding-bottom: 20px;
}

.container2 article div {
  padding-bottom: 20px;
}

/*FAQ page*/

.big {
  max-width: 960px;
  display: grid;
  grid-template-columns: 2% 35% 2% 50% 2%;
  column-gap: 40px;
  background: #ffffff;
}

div .container3 {
  grid-column: 2;
  padding-left: 10px;
}

article p {
  
  color: #291600;
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

div .container4 {
  display: grid;
  grid-column: 4;
}

.container4 .seek ul li {
  font-size: 16px;
}

form {
  margin: 0 auto;
  width: 450px;
  padding: 10px;
  border: 1px solid #291600;
  border-radius: 10px;
  background: #719150;
  color: #ffffff;
  margin-top: 0;
  
}

form li+li {
  margin-top: .75em;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
  width: 75px;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-right: 10px;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 3px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #291600;
  border-radius: 10px;
}

button {
  width: 200px;
  font-size: 20px;
  background: #ffffff;
  color: #719150;
  font-weight: bold;
  margin: 3px 2px;
  border: 1px solid #291600;
  border-radius: 10px;
  padding: 4px;
}

.button {
  float: left;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 115px;
}

/*footer*/
footer {
  background-color: #719150;
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
  height: 100%;
}

.site {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
}

.soc-med {
  padding-top: 10px;
  text-align: center;
  overflow: hidden;
}

.fb {
  padding-right: 5px;
}

.twit {
  padding-left: 5px;
}

.contact {
  font-size: 16px;
  font-weight: bold;
  
}

.copyright {
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}