@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shadows+Into+Light&display=swap');

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header, footer {
  border: 1px solid #291600;
  border-radius: 10px;
}

html {
  background-color: white;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Shadows Into Light', sans-serif;
  text-align: center;
}

p, li {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 60px;
  color: #B8CCA3;
  margin: 10px 0px;
  text-shadow:1px 1px gray;
}

h2 {
  font-size: 48px;
  text-align: center;
  margin: 5px 0 0 0;
  color: #B8CCA3;
}

h3 {
  font-size: 36px;
  color: #291600;
  padding: 0px;
  margin: 0px;
}
/*header*/
header {
  margin-bottom: 25px;
}

nav ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B8CCA3;
  
}

li {
  text-align: center;
 
}

nav ul li a {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px #291600;
  text-align: center;
  padding: 10px 0;
  background-color: transparent;
  text-decoration: none;
}


/*a:visited {
  color: #291600
}*/

a:hover {
  color:#B8CCA3;
  background: white;
  font-size: 30px;
}



.logo {
  max-height: 200px;
  display: block;
 /* margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;*/
  position: absolute;
  left: 125px;
  top: 40px;
  z-index: 1;
}

/*main Home*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 10px;
}

.time,
.idea,
.delivery {
  width: 300px;
  border: 4px solid transparent;
  background-color: #ffffff;
}

.time {
  grid-column: 1;
  grid-row: 1;
}

.idea {
  grid-column: 2/3;
  grid-row: 1;
}

.delivery {
  grid-column: 3/4;
  grid-row: 1;
}

article img {
  max-width: 100%;
}


article p {
  margin-bottom: 5px;
}

article ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

article ul li,
p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}

article p {
  color: #291600;
}

.wait {
  padding: 15px 0;
}

main {
  padding-bottom: 5px;
}

/*main Food*/

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
 
  align-content: space-around;
  padding: 10px 0;
  border: 8px solid transparent;
  margin: 20px 0;
}

.round {
  border-radius: 50%;
  max-height: 180px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.container2 article {
  margin: 0 5px;
}
.container2 article  ul{
  padding-bottom: 20px;
}
.container2 article div {
  padding-bottom: 20px;
}

/*.salads {
  grid-column:1;
}

.ethnic {
  grid-column: 2;
  grid-row: 1;
  }

img .pizza {
  grid-column: 2;
  grid-row: 2;
}

img .chicken {
  grid-column: 3;
  grid-row: 1;
}

.meat {
  grid-column: 3;
  grid-row: 2;
}

.dessert {
  grid-column: 4;
  grid-row: 1;
}

img .cookie {
  grid-column: 4;
  grid-row: 2;
}*/

/*footer*/
footer {
  background-color: #B8CCA3;
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
}

.site {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
}

.soc-med {
  padding-top: 10px;
  text-align: center;
}

.contact {
  font-weight: bold;
  text-shadow: 1px 1px #291600;
}

.copyright {
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}