@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shadows+Into+Light&display=swap');

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header, footer {
  border: 1px solid #291600;
  border-radius: 10px;
}

html {
  background-color: white;
}



h1,
h2,
h3,
h4,
h6 {
  font-family: 'Shadows Into Light', sans-serif;
  text-align: center;
}

h5, p, li {
  font-family: 'Raleway', sans-serif;
}

li {
  font-size: 16px;
}

h1 {
  font-size: 84px;
  color: #86a861;
  margin: 10px 0px;
  text-shadow: 1px 1px #291600;
}

h2 {
  font-size: 55px;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
  color: #86a861;
}

h3 {
  font-size: 45px;
  margin: 0 auto;
}

.container3 h3 {
  font-size: 45px;
  color: #291600;
  padding: 0;
  margin: 0 auto;
}

.container4 h3 {
  font-size: 45px;
  color: #291600;
  padding:0 0 30px 0;
  margin: 0 auto;
}
h4 {
  font-size: 35px;
  color: #86a861;
  text-shadow:1px 1px #291600;
  font-weight: normal;
  margin: 3px 0 0 0;
}


/*header*/
header {
  margin-bottom: 25px;
  background: #86a861;
}

.logo {
  padding-top: 15px;
  padding-left: 20px;
  float: left;
 
}

nav {
  max-width: 800px;
}

nav ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

li {
  text-align: center;
 
}

nav ul li a {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px #291600;
  text-align: center;
  margin: 10px 0;
  background-color: transparent;
  text-decoration: none;
}


/*a:visited {
  color: #291600
}*/

header nav ul a:hover {
  color:#86a861;
  background: white;
  font-size: 30px;
}

/*

.logo {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
  
  z-index: 1;
}*/

/*main Home*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
}

.time,
.idea,
.delivery {
  width: 300px;
  border: 4px solid transparent;
  background-color: #ffffff;
}

.time {
  grid-column: 1;
  grid-row: 1;
}

.idea {
  grid-column: 2/3;
  grid-row: 1;
}

.delivery {
  grid-column: 3/4;
  grid-row: 1;
}

article img {
  max-width: 100%;
}


article p {
  margin-bottom: 5px;
}

article ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

article ul li  {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}



.wait {
  padding: 15px 0;
}

main {
  padding-bottom: 5px;
}

/*main Food*/

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
 
  align-content: space-around;
  padding: 10px 0;
  border: 8px solid transparent;
  margin: 20px 0;
}

.round {
  border-radius: 50%;
  max-height: 180px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.container2 article {
  margin: 0 5px;
}
.container2 article  ul{
  padding-bottom: 20px;
}
.container2 article div {
  padding-bottom: 20px;
}

/*FAQ page*/

.big {
  max-width: 960px;
  display:grid;
  grid-template-columns: 2% 35% 2% 50% 2%;
  column-gap: 40px;
  background: #ffffff;
}
  div .container3 {
    grid-column: 2;
   padding-left: 10px;
 }

 article p {
  font-family: 'Raleway', sans-serif;
  color: #291600;
  font-size: 16px;
  text-align: justify;
}



h5 {
  background:#86a861;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  text-shadow:1px 1px #291600;
  padding: 3px;
  border: 1px solid #291600;
  border-radius: 10px;
  
}



div .container4 {
  display:grid;
  grid-column: 4;
}



.container4 .seek ul li {
  font-size: 16px;

}

form {
  margin: 0 auto;
  width: 450px;
  padding: 10px;
  border: 1px solid #291600;
  border-radius: 10px;
  background: #86a861;
  color: #ffffff;
  
  margin-top: 0px;
  text-shadow:1px 1px #291600;
}


form li + li {
  margin-top: .75em;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
  width: 75px;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}

input, textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  margin: 3px;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #291600;
  border-radius: 10px;
}

button {
  width: 180px;
  font-size: 16px;
  background: #ffffff;
  color: #86a861;
  font-weight: bold;
  border: 1px solid #291600;
  border-radius: 10px;
  padding: 3px;
}
.button {
float: left;

}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 115px;
}




/*footer*/
footer {
  background-color: #86a861;
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
  height: 100%;
}

.site {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
}

.soc-med {
  padding-top: 10px;
  text-align: center;
  overflow: hidden;
}

.fb {
  padding-right: 5px;
}

.twit {
  padding-left: 5px;
}

.contact {
  font-weight: bold;
  text-shadow: 1px 1px #291600;
}

.copyright {
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}